six
configparser
twisted
-e git://github.com/3cky/pyTelegramBotAPI.git#egg=TelegramBotAPI
-e git://github.com/3cky/txTelegramBot.git#egg=txTelegramBot
treq
jinja2
jinja2_pluralize
babel
humanfriendly
cryptography>=2.2
protobuf>=3.5.2
requests
service_identity
-e git://github.com/Ksauder/googleplay-api.git#egg=googleplay-api
