six
configparser
twisted
-e git+https://github.com/3cky/pyTelegramBotAPI.git#egg=TelegramBotAPI
-e git+https://github.com/3cky/txTelegramBot.git#egg=txTelegramBot
treq
jinja2
jinja2_pluralize
babel
humanfriendly
service_identity
